html {
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	background-color: rgb(29, 35, 44);
	
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
}
article.tarefa {
	background-color: rgb(255, 253, 251);
	border-radius: 10px;
	padding: 20px;
	width: 60vh;
	height: 40vh;
}

.medalha {
	background-color: rgb(255, 255, 255);
	border-radius: 2em;
	padding: 0.3em 0.6em;
	font-weight: bold;
}

.excluir{
	display: flex;
	background-color: rgb(255, 253, 251);
	border: none;
	float: right;
	
}

#medTrabalho{
	color: rgb(65, 0, 126);
	background-color:rgb(203, 114, 221) ;
}

#medUrgente{
	background-color:rgb(248, 208, 208);
	color: brown;
}

.publicacao{
	display: flex;
	justify-content: flex-end;
}